body
{
   color:white;
   font-size: 16px;
   font-family: comic sans ms;
   background-image:url("background.jfif") ;
   font-weight: bold;

   background-size: 100%;
}
.name
 {
   background-color: blue;
   font-family: arial;
   font-size: 2em;
   text-align: center;
   font-weight: bold;
   color: white;
   position: fixed;
   width: 100%;
   top:0;
   z-index: 1;
 }
.logo
 {
     cursor: pointer;
     height: 100px;
     width: 100px;
 }
.nav
 {
    display: flex;
    background-color: black;
    position: fixed;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-top: 51px;
    width:100%;
    top:0;
    z-index: 1;
 }
.nava:hover
 {
     color: green;
    background-color: yellow;
    width: 7.8vw;
    height: 2.6vw;
    padding-top: 0.5vw;
    border-radius: 10px;
}
.nav i{
    color: aliceblue;
}
.nava
{
    transition: background-color 0.5s;
}
.nav input
{
    width: 180px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: black;
    color: aliceblue;
}
#contact
 {
     border-radius: 50px;
     background-color: rgb(0, 89, 255);
     cursor: pointer;
     font-size: 20px;
     left: 1000px;
     width: 170px;
     height: 50px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
#contact a:hover
{
  color:yellow;
}
a:link
 {
     color:white;
     text-decoration: none;
 }
a:visited
 {
     color: white;
 }
a:hover
 {
     color: green;

 }
a:active
 {
   color:red;
 }
h1
{
    text-align: center;
}
.form
{
    background-color: rgb(0, 174, 255);
    width: 600px;
    height: 500px;
    margin-left: 350px;
    margin-top: 150px;
    padding: 15px;
    
}
.form button
{
   width:100px;
   height: 40px;
   font-size: 20px;
   font-weight: bold;
   margin-left: 250px;
   cursor: pointer;
}
.form label
{
    cursor: pointer;
}
.form input
{
   font-size: 20px;
   width:200px;
}
#email
{
   width:290px;
}
#msg
{
   width:500px;
   height: 100px;
}
.form a:visited
{
    color: blue;
}