#video{
    width:650px;
    height: 450px;
    position: absolute;
    left: 350px;
}
#trailbtn
{
   text-decoration: none;
   position: absolute;
   top: 340px;
   left: 380px;
   background-color: white;
   border-radius: 8px;
   font-size: 20px;
   font-weight: bold;
   color: black;
   cursor: pointer;
   padding: 10px;
}
#prev{
    left: 1vw;
    top: 9vw;
    background-color: black;
    width: 4vw;
    height: 3vw;
  }
#next{
    right: -1vw;
    top: 9vw;
    background-color: black;
    width: 4vw;
    height: 3vw;
 }
#movie
{
  position: relative;
  top:12vw;
}
#trailer
{
    position: absolute;
    top:50px;
    left: 390px;
    font-family:ui-sans-serif;
    letter-spacing:2px;
    color:gray;
    font-size:20px;
}

#login
{
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    background-color: rgb(8, 201, 8);
}
#login a:visited
{
    color: black;
}
h1{
    width:12vw;
    color: wheat;
    margin-left: 4vw;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 0.2vw;
    font-size: 2.2vw;
    border-radius: 1vw;
}
#main{
    position: relative;
    top:450px;
}
.list
{
    justify-content: space-evenly;
    display: flex;
    right:20px;
    left:20px;
}
.element
{
    width: 200px;
    height: 250px;
    position: relative;
    padding: 10px;
    cursor:pointer;
    transition: all 0.4s;
}
.element:hover
{
    width: 240px;
    height: 290px;
    top:-10px;
}