.main 
 {
    font-size: 1.3vw;
    margin-top: 11vw;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
 }

#searchform{
    width:10vw;
    display: inline;
}
#login
{
    margin-left: 15vw;
    border-radius: 1vw;
    font-size: 1.6vw;
    cursor: pointer;
    width: 10vw;
    height: 4vw;
    background-color: rgb(8, 201, 8);
}
#login a:visited
{
    color: black;
}
#slide
{
    width: 70vw;
    height: 36vw;
    margin-left: 16vw;
}
.name
 {
   background-color: blue;
   font-family: arial;
   font-size: 2.5vw;
   text-align: center;
   font-weight: bold;
   color: white;
   z-index: 1;
   position: fixed;
   width: 100%;
   top:0;
 }
.logo
 {
     cursor: pointer;
     width: 6vw;
     height: 6vw;
 }
.nav
 {
    display: flex;
    background-color: black;
    font-size: 1.4vw;
    position: fixed;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    font-weight: bold;
    margin-top: 4.6vw;
    z-index: 1;
    width:100%;
 }
.nava
{
    transition: background-color 0.5s;
    vertical-align: centre;
}
.nava:hover
 {
    color: green;
    background-color: yellow;
    width: 11.2vw;
    height: 2.6vw;
    padding-top: 0.2vw;
    border-radius: 1vw;
}

#contact
 {
     border-radius: 2vw;
     background-color: rgb(0, 89, 255);
     cursor: pointer;
     font-size: 1.6vw;
     width: 14vw;
     height: 4vw;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
#contact a:hover
{
  color:yellow;
}
#in
{
    margin-left:33vw ;
}
input
 {
    width: 20vw;
    height: 3.2vw;
 }
button
 {
    width: 10vw;
    height: 3vw;
 }
.image
 {
    height: 30%;
    width: 20%;
     transition: all 0.4s;
 }
.image:hover
 {
     height: 34%;
     width: 24%;
 }
#imgs
 {
     margin-left: 12vw;
 }
#share
 {
     text-align: center;
 }
.names
{
    margin-left: 4vw;
    font-size: 4vw;
    width:94vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.names h3{
    font-size: 2vw;
}
a:link
 {
     color:white;
     text-decoration: none;
 }
a:visited
 {
     color: white;
 }
a:hover
 {
     color: greenyellow;
 }
a:active
 {
   color:red;
 }
 #join
{
    background-color: red;
    width: 12vw;
    height: 3.5vw;
    cursor: pointer;
    font-size: 1.9vw;
    font-weight: bold;
    color: wheat;
    border-radius: 1vw;
    margin-left: 42vw;
}
#join a:hover
{
    color: greenyellow;
}
.foot
 {
     background-color: rgb(53, 48, 48);
     color: white;
 }
.foot li 
 {
     list-style: none;
     padding: 1vw;
 }
.foot a:hover
{
   color: wheat;
   background-color: none;
}
.social
{
    list-style: none;
    display: flex;
    width: 25vw;
    cursor: pointer;
    margin-left: 43vw;
    padding: 0.2vw;
}
.social li
{
    border-radius: 36vw;
    width: 3vw;
    height: 3vw;
    text-align: center;
    background-color: rgb(10, 34, 41);
    margin: 0.5vw;
    padding-top: 0.7vw;
}
.social li:hover
{
    width: 3.6vw;
    height: 3.6vw;
    padding-top: 0.8vw;
}
.social a:hover
{
    color:rgb(0, 217, 255);
}
