* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-color: #f0f4a6;
}

h1 {
    text-align: center;
}
.wrapper {
    background-color:none;
    width: 1200px;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 0 50px;
    padding: 30px 60px;
}

.item {
    background-color: #00D9E1;
    padding: 0 10px;
    height: 240px;
    width: 250px;
    border-radius: 5px;
}